:root {
  --main-text-color: #212121;
  --accent-text-color: #2196f3;
  --grey: #757575;
  --white: #ffffff;
  --background: #2f303a;
}

body {
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
/*===========HEADER===========*/
.header-address-link,
.navigation-list-link {
  text-decoration: none;
}

.header-address,
.footer-address {
  font-style: normal;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.193;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-decoration: none;
}

.logo-s {
  color: var(--main-text-color);
}

.navigation-list-link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-text-color);
}

.header-address-link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--grey);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-text-color);
}

/*===========END HEADER===========*/

/*===========HERO===========*/

.hero {
  background: var(--background);
}

.hero-title {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.modal-btn {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: var(--white);
}

.modal-btn:hover,
.modal-btn:focus {
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*===========END HERO===========*/

/*===========ABOUT===========*/

.description-title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.description-item {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.about-title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-name {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-position {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
}

/*===========END ABOUT===========*/

/*===========FOOTER===========*/

.footer {
  background: var(--background);
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-decoration: none;
}

.logo-ss {
  color: var(--white);
}

.contact-list-link {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.713;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-text-color);
}

.geo-link {
  color: #ffffff;
}
/*===========END FOOTER===========*/

/*===========PORTFOLIO===========*/

.btn {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.btn:hover,
.btn:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white);
}

.offer-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.offer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey);
}
